@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');     
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
}

.content {
    background-color: white;
    border-radius: 15px;
    width: 960px;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: blueviolet;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 0;
}
.title {
    color: black;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.title-primary {
    color: white;
}
.title-second {
    color: blueviolet;
}
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}
.description-primary {
    color: white;
}
.description-secondary {
    color: gray;
}
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}
.btn-primary:hover {
    background-color: #fff;
    color: blueviolet;
}
.btn-second {
    background-color: blueviolet;
    border: 1px solid blueviolet;
    transition: background-color .5s;
}
.btn-second:hover {
    background-color: #fff;
    border: 1px solid blueviolet;
    color: blueviolet;
}
.first-content {
   display: flex
}
.first-column {
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
.second-column {
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-social-media {
   display: flex;
   list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}

.form {
   display: flex;
   flex-direction: column;
   width: 55%;


}

.form input {
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}




.second-content {
   position: absolute;
   display: none;
}